# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfvars

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/

# Logs & Sonstiges
*.log
backend/logs/
.DS_Store

# IDE
.idea/
*.iml

# Databases
*.db
backend/app/local.db
infrastructure/terraform.tfvars
backend/.env
terraform.tfstate*
